{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
        body {text-align:center; background-color: black;}
        input {margin-bottom:8px;text-align:center; color: skyblue; background-color: black;}
        label {color: skyblue;}
        h1 {color:skyblue;}
     </style>
<body>
<center>
<h1 class="my_movie_title" style="padding-top: 20px;">Update Profile</h1><br>
  <form method="post" action="{% url 'credit:update_profile' %}">
      {% csrf_token %}
      <div class="mb-4" style="padding-top: 10px;">
          <label>First Name : </label>
          <input type="text" name="first_name" value="{{ user_form.instance.first_name }}">
      <br>
          <label for="last_name">Last Name : </label>
          <input type="text" name="last_name" value="{{ user_form.instance.last_name }}">
      <br>
        <div style="padding-left:18px;">
          <label for="email">  Email_Id : </label>
          <input type="email" name="email" value="{{ user_form.instance.email }}">
        </div>
        <div style="padding-left:13px;">
          <label for="password">Password : </label>
          <input type="password" name="password">
        </div>
        <div style="padding-left:70px">
            &nbsp;<button class="btn btn-success" type="submit">Update Profile</button>
        </div>
      </div>
  </form>
</center>
</body>
{% endblock %}
